<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:18:15</td>   <td>0</td> <td title="&gt;&gt;NOPComRegisterUserTest.setupextentobjs()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&gt;&gt;setupextentobjs</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:18:15</td>   <td>163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NOPComRegisterUserTest.initialize()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:18:31</td>   <td>15402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NOPComRegisterUserTest.ValidateLogin(java.util.HashMap)[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">ValidateLogin</td> 
  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:18:49</td>   <td>33539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NOPComRegisterUserTest.teardown()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:18:49</td>   <td>33670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NOPComRegisterUserTest.initialize()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:02</td>   <td>46572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NOPComRegisterUserTest.ValidateLogin(java.util.HashMap)[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">ValidateLogin</td> 
  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:21</td>   <td>66026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NOPComRegisterUserTest.teardown()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:21</td>   <td>66171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NOPComRegisterUserTest.initialize()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:27</td>   <td>72018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NOPComRegisterUserTest.ValidateLogin(java.util.HashMap)[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">ValidateLogin</td> 
  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:37</td>   <td>82077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NOPComRegisterUserTest.teardown()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:38</td>   <td>82215</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NOPComRegisterUserTest.initialize()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&gt;&gt;initialize</td> 
<td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:44</td>   <td>88900</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NOPComRegisterUserTest.ValidateLogin(java.util.HashMap)[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">ValidateLogin</td> 
  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:54</td>   <td>98951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NOPComRegisterUserTest.teardown()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
<tr bgcolor="6cb0bc">  <td>19/03/28 13:19:55</td>   <td>99559</td> <td title="&lt;&lt;NOPComRegisterUserTest.flushupextentobjs()[pri:0, instance:Academy.NOPComRegisterUserTest@c7a975a]">&lt;&lt;flushupextentobjs</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@756080817</td>   <td></td> </tr>
</table>
