<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83bb96">  <td>19/02/03 19:23:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateNavBar.basePageNavigation()[pri:0, instance:Academy.ValidateNavBar@25be7b63]">basePageNavigation</td> 
  <td>main@2113748097</td>   <td></td> </tr>
<tr bgcolor="6efaab">  <td>19/02/03 19:23:48</td>   <td>4458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigation(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Academy.HomePage@28dcca0c]">basePageNavigation</td> 
  <td>main@2113748097</td>   <td></td> </tr>
<tr bgcolor="6efaab">  <td>19/02/03 19:24:01</td>   <td>17083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.basePageNavigation(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Academy.HomePage@28dcca0c]">basePageNavigation</td> 
  <td>main@2113748097</td>   <td></td> </tr>
<tr bgcolor="79aaa5">  <td>19/02/03 19:24:13</td>   <td>29126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidateTitle.basePageNavigation()[pri:0, instance:Academy.ValidateTitle@45d84a20]">basePageNavigation</td> 
  <td>main@2113748097</td>   <td></td> </tr>
</table>
